.map {
    
    flex: 1;
}

.footer-container {
    padding: rem(17px) rem(74px) rem(19px) rem(86px);
    min-height: rem(86px);

    @include tablets {
        padding: rem(28px) rem(40px) rem(28px) rem(40px);
    }
    @include phones {
        padding: rem(20px) rem(91px);
    }
    
}

.footer__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
        align-items: center;
    }


}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones {
        flex-direction: column;

        .contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-bottom: rem(19px);
        }
    }
   
}
.address {
    color: #292929;

    @include phones {
        margin-bottom: rem(12px);
    }
}

.footer-phone__svg {
    width: 12px;
    height: 12px;
    
}

.footer-phone__text {
    color: #497870;
}
.socials__list {
    display: flex;

}
.socials__item {
    margin-right: rem(14px);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        .socials__svg {
            fill: #292929;
        }
    }
}
.socials__svg {
    width: 20px;
    height: 20px;
    fill:#B3B3B3;
    
}