.player-container {
    &::before {
        content: "";
        background-image: url("../../img/decor/forest_fruits.png");
        width: rem(135px);
        height: rem(193px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        left: -10%;
        top: -39%;

        @include tablets {
            width: rem(118px);
            height: rem(170px);
            top:-45%;
            left: -2%;

        }
  
      }
}

.player-section__container {
    width: 662px;
    height: 392px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    @include tablets {
        width: 594px;
        height: 351px;
    }

    @include phones {
        width: 100%;
        height: 233px;
    }

    &::before {
        content: "";
        background-image: url("../../img/decor/video_leaf_down.png");
        width: rem(62px);
        height: rem(116px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        left: 1%;
        bottom: -10%;
        
         @include tablets { 
            left: -5%;
            bottom: 12%;
        }
        @include phones { 
            left: -4%;
            bottom: -15%;
            width: rem(60px);
            height: rem(51px);
        }
      }
      &::after {
        content: "";
        background-image: url("../../img/decor/video_leaf_up.png");
        width: rem(90px);
        height: rem(77px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        right: 1%;
        top: -10%;
        
         @include tablets { 
            right: 1%;
            top: 15%;
            width: rem(73px);
            height: rem(63px);
        }
        @include phones { 
            right: 1%;
            top: 15%;
            width: rem(60px);
            height: rem(51px);
        }
      }
}
.video-player {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.player {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.video-player__img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;

      &--hidden {
          opacity: 0;
      }
}

.video__toolbar {
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.duration {
    display: flex;
    align-items: center;
    flex: 1;
}

.duration__img {
    padding: 5px 20px;
    cursor: pointer;
}

.duration__length {
    width: 85%;
    height: 4px;
    border-radius: 1px;
    background-color: #626262;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
.duration__length--other{
    width: 60px;
    height: 4px;
}
.duration__length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #626262;
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.sound{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    justify-content: center;
    text-align: center;
}
.sound__volume {
    margin: 0 20px;
    margin-top: -5px;

    @include phones {
        margin: 0 10px;
        margin-top: -5px;
    }
}
