.reviews-section {
    position: relative;
    background: url("../img/decor/reviews_berries.png") right top  no-repeat;
    

    &::before {
        content: url("../img/decor/pattern_leaf.png");
        position: absolute;
        bottom: rem(-156px);
        left: 0;
    }
}
.reviews-section__title{
    margin-bottom: rem(27px);

    @include tablets {
        margin-bottom: 42px;
    }
}